<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock %}
    <title>{% block title %}Hello!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    {% endblock %}
  </head>
  <body>
    <div>{% block content %}{% endblock %}
    </div>
      <input type="text" id="phone_no" placeholder="+(xxxxx)xxx-xx-xx">
      {% block final_scripts %}


      {% endblock %}
  </body>
</html>
