<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock %}
    <title>{% block title %}Hello!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
