<html>
  <head></head>
  <body>
<div id="content">
            <div style="margin: 0 20px;">


<div class="br-block">
  <i class="cn tl"></i>
  <i class="cn tr"></i>
  <div class="br-content">

                    <div class="inner-header">
                        <h1>Подписание договора</h1>
                    </div>



	<div class="yui3-g ui2-request-steps">
            		<div class="yui3-u-1-5">
    			<div class="step  first " style="z-index:6;">
    				1. Расчет стоимости    			</div>
    		</div>
            		<div class="yui3-u-1-5">
    			<div class="step   " style="z-index:5;">
    				2. Личные данные    			</div>
    		</div>
            		<div class="yui3-u-1-5">
    			<div class="step   " style="z-index:4;">
    				3. Дата начала действия    			</div>
    		</div>
            		<div class="yui3-u-1-5">
    			<div class="step   active" style="z-index:3;">
    				4. Подписание договора    			</div>
    		</div>
            		<div class="yui3-u-1-5">
    			<div class="step last  " style="z-index:2;">
    				5. Варианты оплаты    			</div>
    		</div>
        	</div>


    <!-- Policy info -->
    <div class="sign-info">

<h1 align="center">
	Поліс </h1>

<h2 align="center">
    обов'язкового страхування цивільно-правової відповідальності<br>
    власників наземних транспортних засобів<br>
    (діє на території України)
</h2>
<br>

<table width="100%" cellspacing="0" cellpadding="5" border="1">
    <tbody><tr>
        <td width="40%" valign="top" rowspan="2">
            <strong>1. Страховик</strong><br><font size="-1">(назва, адреса, № телефону)</font><br>
            <font size="-1">ЗАТ "УКРАЇНСЬКА АКЦІОНЕРНА СТРАХОВА КОМПАНІЯ АСКА" <br>
03186, м.Київ, вул. Антонова, 5<br>
(044) 455-99-70 - багатоканальний<br>
456 - для абонентів UMC-MTC, KYIVSTAR, life:)<br>
0 800 501 501 - безкоштовно по Україні<br>
</font>
        </td>
        <td width="60%" valign="top">
        	<font size="-1">Код страховика:</font> <strong>004</strong>
        </td>
    </tr>
    <tr>
        <td width="60%" valign="top">
        	<strong>2. Страховим випадком є</strong> подія, внаслідок якої заподіяна шкода третім особам під час
    		дорожньо-транспортної пригоди, яка сталася за участю забезпеченого транспортного засобу і внаслідок якої
    		настає цивільно-правова відповідальність особи, відповідальність якої застрахована за договором.
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>3. Строк дії</strong></p>
<p align="center">
    з
    <strong>00:00 15/06/2013</strong>
    до
    <strong>14/06/2014</strong>
    включно<br>
    <em>Договір (поліс) набирає чинності з початку зазначенного строку його дії</em>
</p>


<p><strong>4. Страхова сума (ліміт відповідальності) на одного потерпілого</strong>, грн.</p>
<table width="100%" cellspacing="0" cellpadding="5" border="1">
    <tbody><tr>
        <td width="50%"><em>За шкоду, заподіяну життю і здоров'ю (на одного потерпілого)</em></td>
        <td width="50%">
        	<strong>100000
        	(сто тисяч гривень )</strong>
        </td>
    </tr>
    <tr>
        <td width="50%"><em>За шкоду, заподіяну майну (на одного потерпілого)</em></td>
        <td width="50%">
        	<strong>50000
        	(п'ятдесят тисяч гривень )</strong>
        </td>
    </tr>
    <tr>
        <td width="50%"><em><strong>5. Розмір франшизи</strong>, грн.</em></td>
        <td width="50%">
                        	<strong>1000
            	(одна тисяча гривень )</strong>
                    </td>
    </tr>
</tbody></table>

<br>

<p><strong>6. Страхувальник</strong> <em>(П.І.Б./назва організації)</em></p>

<table width="100%">
	<tbody><tr>
		<td width="35%" valign="top">
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td>
                    	<strong>реоегоеоеог</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                    	<strong>оьпоьпьлорп</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                    	<strong>атаронаоао</strong>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="5%" valign="top"></td>
        <td width="60%" valign="top">
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td><strong>Адреса</strong></td>
                    <td style="text-align: right;"><strong>Поштовий індекс</strong></td>
                	<td>
                		<strong>74576</strong>
            		</td>
                </tr>
                <tr>
                	<td colspan="3"><strong>улица парапр 56, кв. 665, 74576, город Киев, Киев, Украина</strong></td>
                </tr>
            </tbody></table>
            <table width="100%" cellpadding="3" border="1">
                <tbody><tr>
                    <td>
                    	Телефон
                    </td>
                    <td>
                                            	    +380 (66) 657-74-77                    	                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>Виключно для страхувальника - фізичної особи</strong></p>
<p>
	<strong>Дата народження</strong> 4 березня 1985 р.	&nbsp;
	<strong>ІНПП</strong> 5678568656</p>
<p>
	<strong>Документ, що посвідчує особу</strong>
	<em>(для пільговика - документ, що підтверджує його право на зменшення розміру страхового платежу)</em>
	<br>
	назва документа <strong>паспорт</strong>,
	серія <strong>пр</strong>,
	номер <strong>547547</strong>,
	дата видачі <strong>3 червня 2002 р.</strong>,
	ким виданий документ <strong>апраперапр</strong>
</p>

<br>

<p><strong>7. Забезпечений транспортний засіб (ТЗ)</strong></p>
<table width="100%" cellspacing="0" cellpadding="5">
    <tbody><tr>
        <td>
            Тип
            <strong>B2</strong>
            &nbsp;
            Марка, модель
            <strong>Chev Lacce</strong>
            &nbsp;
            Номерний знак
            <strong>FF5656HH</strong>
            &nbsp;
            Номер кузова (шасі)
            <strong>WBACD91870PK91670</strong>
            &nbsp;
            Рік випуску
            <strong>2010</strong>
            &nbsp;
            Місце реєстрації
            <strong>Київ</strong>
        </td>
    </tr>
</tbody></table>

<br>

<p><strong>Страхова премія</strong> <strong>753,49&nbsp;грн. &nbsp; сімсот п'ятдесят три  гривні сорок дев'ять  копійок</strong><br>
Сплачена <strong>Пт, 14 июня 2013 21 ч 08 м 11 с</strong></p>

<p><strong>8. Примітка</strong><br>
Для перевірки валідності договору страхування відправте СМС з текстом
65619897 на номер 4440<br>
</p><table width="100%" cellpadding="0" border="0">
  <tbody><tr>
    <td width="40%" align="left"></td>
    <td width="60%" align="right">При настанні страхового випадку негайно телефонуйте за телефоном: 0-800-501-501.</td>
  </tr>
</tbody></table>
<p></p>


    </div>

    <!-- Policy  -->

    <style type="text/css">
      .policy-default {
        width: auto; color: #555;
        height: 250px; overflow: auto;
        border: 1px solid #ddd; padding: 10px 25px;
      }
      .policy-default h1 {
        font-family: Georgia; font-weight: normal;
        margin: .5em 0; padding: inherit;
      }
      .policy-default p {
        margin: .8em 0;
      }
      .policy-default table td {
        padding: 7px 12px; line-height: 1.1em;
        vertical-align: middle;
      }
      .policy-default table td.bordered {
        border: 1px solid #ddd;
      }
      .policy-default span.highlight {
        color: black; font-weight: bold; font-size: 123.1%;
      }
      .policy-default span.label {
        font-size: 85%;
      }
      .policy-default span.bordered {
        padding: 2px 5px; border: 1px solid #ddd;
      }
    </style>
    <br>

    <form action="/policy/payment/confirm/P-26A1.html" method="post">
    <div style="width: auto; margin: 0 auto; text-align: left;" class="yr-block">
          <i class="cn tl"></i>
          <i class="cn tr"></i>
          <div class="yr-content">
            <h3>Подписи сторон</h3>
    <table width="100%" cellspacing="4" cellpadding="5">
      <tbody><tr>
        <td width="50%" valign="top">Страхователь</td>
        <td width="*" valign="top">Страховщик</td>
      </tr>
      <tr>
        <td width="50%" valign="top">




          <p>На адрес электронной почты <strong>nhfjhfhfjh@gmail.com</strong>,
 указанный вами при регистрации, было отправлено письмо с кодом
электронной подписи к данному полису. Скопируйте ее и введите в поле
ниже:</p>

          <input type="text" id="sign_policy_signature" name="sign_policy[signature]">          <div style="font-size: 13px;" class="wrong">
                        </div>
          <p>
            <a load="/images/loader.gif" id="policy_request_signature" rel="http://www.comfin.ua/policy/P-26A1/request-signature.html" href="#">Отправить подпись повторно</a></p>
          <br>

          <input type="checkbox" id="sign_policy_accept" name="sign_policy[accept]">          <font size="-1"><label for="sign_policy_accept">«С условиями и правилами страхования ознакомлен(-а).»</label></font>
          <div style="font-size: 13px;" class="wrong">
                        </div>



        </td>
        <td width="*" valign="top">

                            <img src="%D0%A1%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5,%20%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%BA%D0%B0,%20%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%20%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B8%D0%BC%D1%83%D1%89%D0%B5%D1%81%D1%82%D0%B2%D0%B0:%20%D0%B6%D0%B8%D0%BB%D1%8C%D1%8F,%20%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80%D1%8B,%20%D0%BD%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D0%B8,%20%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%BE%D0%B9%20%D0%BF%D0%BE%D0%BB%D0%B8%D1%81_files/pechat002.png">                    </td>
      </tr>
    </tbody></table>
          </div>
          <i class="cn bl"></i>
          <i class="cn br"></i>
        </div>

    	            <br>
            <hr size="1" color="#CCCCCC">
            <p align="center">
            	<input type="submit" value="Подписать полис">
            </p>


        </form>

  </div>
  <i class="cn bl"></i>
  <i class="cn br"></i>
</div>            </div>
        </div>
    </body>
    </html>