{%block title %}О проекте{% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
                    <div class="title">
                        <h1>О проекте</h1>
                        <h3>"ПолисМаркет" - это Ваш виртуальный страховой агент.</h3>
                    </div>
					<h2>"ПолисМаркет": новое слово на рынке страхования.</h2>
                    <p>Если проанализировать ситуацию на украинском рынке страховых услуг, становится ясно, что есть немало факторов, которые препятствуют его развитию. Здесь есть как  объективные, системные проблемы, так и субъективные, обусловленные уровнем платежеспособности населения, несовершенством законодательной базы, недобросовестной конкуренцией и т.д. Пока степень проникновения страхования в Украине в несколько раз ниже, чем в развитых странах.</p>
					<p>Тем не менее, спрос на страховые услуги в нашей стране постоянно растет, появляются новые виды страхования и страховые продукты, причем, как отмечают многие эксперты, рынок весьма перспективен и имеет мощный потенциал.</p> 
					<p>Общая ситуация свидетельствует о постепенном структурировании, систематизации страхового рынка, о росте доверия к страховщикам со стороны населения. В тоже время ни для кого не секрет, что данный рынок полон различных «подводных камней», разобраться в которых рядовому страхователю бывает непросто.</p>
					<h2>Страховаие по интернету? Это реально!</h2>
					<p>Инновации – вот, пожалуй, то, чего не достает сегодня рынку страховых услуг. </p>
					<p>Согласитесь, потребители выбирают страховщика, руководствуясь больше интуицией, а не практическими соображениями. Главными критериями при выборе являются результаты грамотного пиара и рекламы.</p> 
					<p>Как не ошибиться при выборе компании и получить оптимальный страховой продукт? Ведь нередко услуги по одному и тому же виду страхования у разных компаний разительно отличаются, в том числе тарифами. В таких случаях разумнее воспользоваться услугами страхового брокера. Правда, у многих возникает резонный вопрос: как не прогадать с ним?</p>
					<h2>Почему "ПолисМаркет"?</h2>
					<p>Не будет преувеличением сказать, что проект компании "ПолисМаркет" - это инновационный подход к страхованию. Он предполагает выбор и оформление страхового полиса через интернет, что обеспечивает не только экономию времени и денег, но и гарантию максимальной объективности. </p>
					<p>Пользоваться услугами "ПолисМаркет" просто и удобно: нет необходимости ехать в офис страховщика, ксерокопировать документы, ожидать своей очереди к специалисту. Все это в прошлом. Теперь получить информацию о стоимости  страховых продуктов в различных компаниях, об  условиях страхования, а также оформить заветный полис можно, не выходя из дома. Компьютер с доступом в интернет – все, что вам нужно. Оформленный полис доставляется клиенту в оговоренное время по оговоренному адресу.</p>
					<p>"ПолисМаркет" работает по принципу  большинства страховых брокеров, подбирая для клиента наиболее оптимальный вариант среди множества предложений страховых компаний. Но один принцип поставлен во главу угла: никому ничего не навязывать - только предлагать.  Вот оптимальный вариант, вот альтернативные предложения с детальными разъяснениями. Клиент волен выбирать сам. Прежде чем оформить страховку,  пользователь сервиса может получить информацию о работе той или иной страховой компании. Работа практически со всеми ведущими игроками на рынке страховых услуг позволяет  объективно оценивать качество страховых услуг.</p>
					<p>Команда профессионалов, хорошее знание рынка, большой опыт компании – все это дополнительные факторы, повышающие степень гарантии.</p> 


        </div>
			 <div class="footer-push"></div>
    </section>

</section>
{% endblock %}