{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
                    <div class="title">
                        <h1>О проекте</h1>
                        <h3>"ПолисМаркет" - это Ваш виртуальный страховой агент.</h3>
                    </div>                    
                    <p></p>
        </div>
			 <div class="footer-push"></div>
    </section>

</section>
{% endblock %}