{%block title %}Контакты - PolisMarket{% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
	                    <div class="title">
                        <h1>Контакты</h1>
	                    </div> 
					<div class="contact_left">
					<div class="call_center">
					<p><span class="ico"></span> (067) 426-44-11 (Без выходных)</p>
					</div>
					<div class="office">
					<h3>Адрес:</h3>
					<p>Киев, просп. Владимира Маяковского, 26, оф. 3</p>
					<p>
					<b>График работы:</b><br />
					Пн-Пт: 10:00 - 19:00<br />
					Сб-Вс: 10:00 - 18:00
					</p>
					</div>
					</div>
					<div class="contact_right">
						<iframe width="590" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps/ms?msa=0&amp;msid=205037517457610744096.0004ef74db488f729517e&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.507518,30.608082&amp;spn=0.003275,0.009656&amp;z=16&amp;output=embed"></iframe>
					</div>
        </div>
					 <div class="footer-push"></div>
    </section>
</section>
{% endblock %}