{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
    <section>
        <div class="content">
            <div class="limit">
            <h1>Контакты</h1>
            </div>
        </div>
    </section>
</section>
{% endblock %}