{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
                        <h3>Раздел находится в стадии разработки.</h3>
        </div>
			 <div class="footer-push"></div>
    </section>

</section>
{% endblock %}