{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
 <section class="content">  
        <div class="limit text_content">
        {{message|raw}}
    </div>
    <!-- footer-push -->
    <div class="footer-push"></div>
</section>
    </section>
{% endblock %}