{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
<section class="content">
    <div class="grey_area limit">
        {{message|raw}}
    </div>
    <!-- footer-push -->
    <div class="footer-push"></div>
</section>
    </section>
{% endblock %}