{%block title %}Ваш заказ принят{% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig'%}
{% block content %}
 <section class="content">  
        <div class="limit text_content">
        {{message|raw}}
    </div>
    <!-- footer-push -->
    <div class="footer-push"></div>
</section>
    </section>
{% endblock %}
{% block footer_scripts %}
{% if orderId > 0 %}
<script type="text/javascript" src="//rdr.salesdoubler.com.ua/in/pixel/245/tracking.js?trans_id={{orderId}}"></script>
{% endif %}
{% endblock %}