{%block title %}О нашем страховом партнере - PolisMarket{% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
                    <div class="title">
                        <h1>Наш страховой партнер</h1>
                        <h3>«СК «БРОКБИЗНЕС»</h3>
                    </div>                    
                    <p>Страховая компания «БРОКБИЗНЕС» накапливает свой опыт на рынке страхования с 1993 года, успев занять устойчивые позиции среди наиболее динамичных компаний Украины. На сегодняшний день Страховая компания «БРОКБИЗНЕС» входит в число ведущих страховых компаний Украины, имеет членство в Моторном (транспортном) страховом бюро Украины, является членом Ядерного Страхового Пула Украины и Федерации Страховых Посредников Украины, входит в Совет Строительного Страхового Пула.</p>
					<p>Рейтинговое агентство «Эксперт – Рейтинг» по итогам первого полугодия 2013 года установило рейтинг надежности «СК «БРОКБИЗНЕС» (Киев) на уровне «uaAA –» по национальной шкале.</p>
                    <p><strong>Результаты за 2012 год:</strong></p>
                    <ul>
                    <li><span class="plus"></span>Активы Страховой компании «БРОКБИЗНЕС» составили 205,779 млн. грн.</li>
                    <li><span class="plus"></span>Страховые резервы компании по результатам 2012 составили 76,885 млн. грн.</li>
                    <li><span class="plus"></span>Уставный капитал компании остался без изменений и по состоянию на 1 января 2013 составлял - 51,4 млн. грн.</li>
                    <li><span class="plus"></span>Чистая прибыль компании составила 36,565 млн. грн.</li>
					<li><span class="plus"></span>За 2012 год «БРОКБИЗНЕС» собрали 132,595 млн. грн. страховых премий.</li>
					<li><span class="plus"></span>За этот же период они выплатили своим клиентам 40,909 млн. грн. страховых возмещений. </li></ul>
                    <p>Страховая компания «БРОКБИЗНЕС» имеет 43 лицензии, из них 19 на добровольные, 14 на обязательные и 10 на обязательные государственные виды страхования. Компания оказывает полный спектр страховых услуг и работает в классическом сегменте страхования. В портфеле страховых продуктов насчитывается более 50 продуктов.</p>
                    <p>Компания всегда готова к взаимодействию, демонстрируя индивидуальный подход к каждому клиенту, имеет активные деловые связи и высокопрофессиональный коллектив, который способен понять потребности клиента и наилучшим образом учесть его интересы. В компании не собираются останавливаться на достигнутом, а планируют и дальше развиваться, предоставляя клиентам лучшее качество сервиса. </p>
        </div>
			 <div class="footer-push"></div>
    </section>

</section>
{% endblock %}