{%block title %}Идет перенаправление на платежную систему{% endblock %}
{%block head_scripts%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="{{asset('bundles/insurancecontent/css/style.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/insurancecontent/css/fixes.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="limit text_content center">
            {% if paymentForm != 'Заказ не найден' %}Сейчас Вы будете перенаправлены на страницу системы оплаты, если переход не происходит автоматически, нажмите на кнопку ниже
            {{- paymentForm|raw -}}
            {%- else -%}
            {{ paymentForm|raw }}
            {% endif %}
        </div>
        <!-- footer-push -->
        <div class="footer-push"></div>
    </section>
    </section>
    <script type="text/javascript">
        (function(){
            $('#payment-form').trigger('submit');
        })();
    </script>
{% endblock %}