{%block title %}Политика конфиденциальности{% endblock %}
{% extends 'InsuranceContentBundle::base.html.twig' %}
{% block content %}
 <section class="content">  
        <div class="limit text_content"><!-- .text_content for text-page only -->  
                    <div class="title">
                        <h1>Политика конфиденциальности</h1>
                    </div>                    
                    <p>Дорогие посетители!</p>
<p>
	Прежде чем пройти регистрацию и оформить заказ на нашем сайте, пожалуйста внимательно ознакомьтесь с данным Соглашением. Соглашаясь с ним, Вы соглашаетесь со всеми нижеперечисленными условиями и обязуетесь соблюдать их или отказаться от использования сервиса.
</p>
<p>
	1. ПолисМаркет предлагает 
</p>
        </div>
			 <div class="footer-push"></div>
    </section>

</section>
{% endblock %}