<div class="sub_text">Введите e-mail адрес, указанный при регистрации, на него будет выслана информация по восстановлению пароля.</div>
<form class="modal_form fos_user_resetting_reset" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        {% if invalid_username is defined %}
            <div class="error_login">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
        {% endif %}
        <div class="control_point">
        <input type="text" id="username" name="username" required="required" placeholder="Введите e-mail адрес"/>
        <div class="success ico"></div>
        <div class="error ico"></div>
        <div class="error_text">Заполните поле</div>
        </div>

    <div class="green_button">Отправить</div>
	<div class="modal_preloader">
        <img src="{{asset('bundles/insurancecontent/images/3.gif')}}" alt="img" />
        </div>
    <div style="clear: both;"></div>
</form>
