@charset "UTF-8";
/* CSS Document */
#login_modal input[type="password"] {
    padding-left: 55px;
}
form.modal_form .control_point input[type="email"] {
    border: 1px solid #CFCFCF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13) inset;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 41px;
    line-height: 41px;
    padding: 0 10px;
    width: 100%;
}

.error_login {
	background-color: #fff4f4;
	color: #c34949;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
	margin: 0 35px 20px 35px;
	}
	
.success_reset {
	background-color: #EDFFE5;
	color: #3E841F;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
	margin: 0 20px 20px 20px;
	}

	
	
.login-area {
    display:inline-block;
    float:right;
    height:33px;
    line-height:33px;
    padding:0;
}

 header .personal_office a {
   font-size: 11px;
    color: white;
	text-transform: uppercase;
    font-family: 'arialblack', Helvetica, sans-serif;
	}

.calculator_box .count_down_container .counter div .tdigit {
    color: #FFFFFF;
    font-family: 'arialblack',Helvetica,sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 18px;
    line-height: 47px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
}
/*.discount {
    display: none;
}*/
.fixed_pop_up {
    display: none;
}
/* CSS Document */
.options {
    display: none;
}
.hidden {
    display:none;
}
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- HEADER -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */

header .main_menu div.shadow {
        position: absolute;
        width: 1016px;
        height: 17px;
        left: -8px;
        bottom: -17px;
        background-image: url(../images/menu_shadow.png);
        background-position: top center;
        background-repeat: no-repeat; }

header .main_menu li a {
		font-size: 15px;
		letter-spacing: 0.02em;
		padding: 0 20px 0 22px;
		font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
		font-weight: 400;
		color: #444;
		}
		
header .main_menu li a span.arrow {
          width: 12px;
          height: 9px;
		  background-position: -230px -135px;
          top: 0px; }

header .main_menu li:hover span.home {
        width: 18px;
        height: 18px;
        display: inline-block;      
        background-image: url(../images/sprite.png);
        background-position: -138px -464px;
        background-repeat: no-repeat;
        background-color: transparent; }	
		
header .main_menu li ul.inner_menu li a{
		color: white;
}

header .inner_menu {
    bottom: -28px;
	z-index: 100;}		  
		  
header .inner_menu li a {
        height: 33px;
        line-height: 33px;
		letter-spacing: 0;
		font-size: 12px;
		font-family: "robotoregular", Arial, Helvetica, sans-serif;
		padding: 0 15px;
}		
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- FOOTER -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
footer {
}

footer .column.second {
      width: 260px;
      padding-left: 40px; }

footer .column.third {
      width: 360px;
	  text-align: right;
	  margin-right: 60px;
	  font-size: 14px;

	  }

footer .column.third .title {
}

footer .column .third_down {
      border-left: 1px solid #cbcbcb;
	  margin-bottom: 35px;
	  margin-top:0;
	  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1.0) inset;
	  }

footer .column .email {
      padding-bottom:5px;
}

footer .column.tel {

}

 footer .column .social_buttons {
      margin-top: 15px;

	  }
 footer .column .social_buttons a {
        width: 50px;
        height: 47px;
        display: inline-block;
        float: right;
        margin-left: 3px; }

        footer .column .social_buttons a.vk {
          background-image: url(../images/sprite.png);
          background-position: -68px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.vk:hover {
            background-position: -18px -62px; }
        footer .column .social_buttons a.fb {
          background-image: url(../images/sprite.png);
          background-position: -168px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.fb:hover {
            background-position: -118px -62px; }
        footer .column .social_buttons a.tw {
          background-image: url(../images/sprite.png);
          background-position: -268px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.tw:hover {
            background-position: -218px -62px; }

footer .bottom_part {
    padding-bottom:15px; }

footer .bottom_part .counter_container {
        margin-right: 60px;
		}

/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- INDEX --------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.calculator_box .calculator .calculate {
      line-height: 47px;
	  }


.calculator_box .calculator .title {
      line-height: 52px;}

 .calculator_box .calculator .calculate span {
	  margin-right: 8px;
	  }
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- COMBO --------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.combo {
  position: relative;
  width: 329px;
  }


/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- SCROLL -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.scroll_box {
  width: 327px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6); }

/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- ECONOM BOX ---------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.how_it_work .step_point .text {
	font-style:normal;
}

.advantages .adv_point {
    padding-left: 85px;
	margin: 0 15px 50px 0;}

.adv_point.rightt /*дубль символа из-за повторного класса*/ {
    margin: 0 0px 50px 15px;
	width: 285px;
	}

.advantages .adv_point p.text { 
	  line-height: 14px;
}	

.partner .text_box p.short_text, .partner .text_box p.drop_text {
	font-size: 16px;
    text-align: justify; 
	margin-bottom:10px;
	font-family:'robotoregular', Arial, Helvetica, sans-serif;
	}

.min_cost .limit h2 {
	font-size: 23px;
    line-height: 27px;
    text-shadow: 0 0 1px white;
	font-weight: 400;
	font-style: normal;
	margin:0;
	font-family:'robotoregular', Arial, Helvetica, sans-serif;
}
	
.question .question_point.phone {
    width: 300px;
    margin: 0 0px 10px 0;}

.question .question_point.call {
    width: 340px;
    margin: 0 0px 10px 0;
	}

.question .question_point.ask {
    display: inline-block;
    float: left;
    min-height: 65px;
    margin: 0 0px 10px 0;

    position: relative;
    padding-left: 85px; }
.question .question_point.phone .ico {
      background-position: 0 -314px; }
    .question .question_point.phone:hover .ico {
      background-position: -65px -314px; }
    .question .question_point.call .ico {
      background-position: -130px -314px; }
    .question .question_point.call:hover .ico {
      background-position: -195px -314px; }
    .question .question_point.ask .ico {
      background-position: -260px -314px; }
    .question .question_point.ask:hover .ico {
      background-position: -325px -314px; }
    .question .question_point .title {
      font-family: "robotoBlack", Helvetica, sans-serif;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 22px;
      color: #2c2a22; }
      .question .question_point .title span {
        font-weight: 400;
        font-size: 22px;
        color: #2c2a22; }
    .question .question_point .text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: black;
      width: 185px; }


/*------------------------------------------------------------------------------------------- */
/*-----------------------------------  MODAL GENERAL ---------------------------------------- */
/*------------------------------------------------------------------------------------------- */

form.modal_form .control_point input[type="text"], form.modal_form .control_point input[type="password"],
form.modal_form .control_point input[type="email"] {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #cfcfcf;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset; }

 form.modal_form .control_point .error_text:before {
        content: "";
        border-bottom: 8px solid #ff3333;
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: -8px;
        right: 11px; }
  
form.personal_data .control_point .error_text_box_quest, .fos_user_registration_register .control_point .error_text_box_quest{
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -khtml-border-radius: 3px;
      padding: 0 4px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: white;
      position: absolute;
      top: 30px;
      left: -4px;
      background-color: #ff3333;
      z-index: 3;
      display: none; }
      form.personal_data .control_point .error_text_box_quest:before, .fos_user_registration_register .control_point .error_text_box_quest:before {
        content: "";
        border-bottom: 8px solid #ff3333;
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: -8px;
        left: 5px; }
	form.modal_form .control_point .error_text_quest_reg	{
	background-color: #fff4f4;
	color: #ff3333;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	}
	form.modal_form .control_point .error_text_quest_reg span {
	width: 20px;
      height: 21px;
	  position: relative;
      background-image: url(../images/sprite.png);
      background-repeat: no-repeat;
	  background-position: -210px -119px;
	  float:left;
	  display: inline-block;
	  top: -2px;
	  margin-right: 7px;
	}
/*------------------------------------------------------------------------------------------- */
/*------------------------------------- PASS MODAL ------------------------------------------ */
/*------------------------------------------------------------------------------------------- */

.reset_pass {
    border-top: 1px solid #cac9c9;
	background-color:#ececec;
	text-align: center;
	margin: 20px -35px -20px -35px;
	padding: 20px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0 -1px 3px rgba(198, 198, 198, 0.7);
	}

.reset_pass a{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
	font-style: italic;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	transition:  all 0.3s ease;
}

.reset_pass a:hover {
	color: #ffa600;
}

  #pass_modal .sub_text {
    width: 435px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 auto 15px;
    text-align: justify;
    font-size: 14px;
    color: black; }


/*------------------------------------------------------------------------------------------- */
/*------------------------------------- PRELOADER ------------------------------------------- */
/*------------------------------------------------------------------------------------------- */	
		
.modal_preloader {
	float: right;
    display: inline-block;
	margin-right:12px;
    display:none;
    position: relative;
	margin-top:10px;
	}
.modal_preloader.on {
    display:block;
}	
		
/*------------------------------------------------------------------------------------------- */
/*---------------------------------------- TOTAL -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.total .green_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: white;
    line-height: 58px;
    padding: 0 20px;
    background-color: #449C19;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    display: inline-block;
    float: left;
	margin: -1px 15px 0px 0px;
    /*margin-right: 15px;*/
     }

.orange_button {
  line-height: 29px;
  text-shadow: 1px 1px 1px rgba(56, 39, 9, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  }

.orange_button:hover {
  background-image: none;
  background-color: #ffbc01;
  text-shadow: 1px 1px 0 rgba(56, 39, 9, 0.5);
  -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.question_ico:hover .pop_up_total {
    display: block; }

.pop_up_total {
  position: absolute;
  z-index: 3;
  left: 26px;
  top: -13px;
  width: 240px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 10px;
  background-color: #f4fae6;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 15px;
  font-weight: 500;
  display: none; }

  .pop_up_total:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #cccccc;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }

  .pop_up_total:after {
    content: "";
    position: absolute;
    top: 11px;
    left: -9px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #f4fae6;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }


.fixed_pop_up {
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  left: 680px;
    width: 318px;
  background-color: #fceacc;
  }

.fixed_pop_up:before {
    content: "";
    position: absolute;
    left: -10px;
top:50%;
margin-top: -10px;
  }
  .fixed_pop_up:after {
    content: "";
    position: absolute;
    left: -9px;
top:50%;
margin-top: -10px;
 }

 
/*------------------------------------------------------------------------------------------- */
/*----------------------------------- GREY AREA GENERAL ------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.grey_area.auto_info {
	padding: 20px 20px 0 20px;
} 
/*------------------------------------------------------------------------------------------- */
/*---------------------------------------- POLIS DATE --------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.polis_date .date {
	width: 202px;
}
	
.control_point.date {
	width: 202px;
}  
  
.control_point.date span {
    width: 23px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    background-image: url(../images/sprite.png);
    background-position: -367px -219px;
    background-repeat: no-repeat;
    background-color: transparent; }  
.control_point.date input {
    z-index: 4;
 }  
  
 .polis_date:hover .pop_up_date {
    display: block; }

.pop_up_date {
  position: absolute;
  z-index: 3;
  left: 510px;
  top: 189px;
  width: 405px;
  height: 50px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 10px;
  background-color: #f4fae6;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 15px;
  font-weight: 500;
  display: none; }

  .pop_up_date:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
	margin-top: -15px;
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #cccccc;
    border-bottom: 15px solid rgba(0, 0, 0, 0); }

  .pop_up_date:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
	margin-top: -15px;
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #f4fae6;
    border-bottom: 15px solid rgba(0, 0, 0, 0); }
	
.ui-datepicker {
	width: 202px;
}	
/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- PERSONAL_INFO FORM --------------------------------- */
/*------------------------------------------------------------------------------------------- */
form.personal_data .line {
    margin-bottom: 40px;
    }
form.personal_data .param {
	line-height: 38px;
}

form.personal_data .param_adres {
    font-size: 18px;
    color: black;
    font-weight: 400;    
    margin-top: 0px;
    line-height: 23px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0; }
	
form.personal_data .kiev_info {
    font-size: 14px;
    margin-left:23px;
	margin-top:10px;
	color: #505050;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	}
    	

form.personal_data .control_point input:focus {
      -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41); }

form.personal_data .control_point.size0 {
      width: 68px; }  

form.personal_data .control_point.size4 {
	margin-top:5px;
}
	  
form.personal_data .control_point.size5 {
      width: 203px;
	  margin-top: 13px;}	

form.personal_data .control_point.size6 {
      width: 366px; }		  

form.personal_data .control_point.size7 {
      width: 203px; }		  
 
 form.modal_form .control_point.error input {
    border-color: #e73636;
  }
  form.modal_form .control_point.success input {
    border-color: #79a837;
  }
  
 form.modal_form .control_point.error .error_text_box_quest, form.modal_form .control_point.error .error_text_box, form.modal_form .control_point.error .error_text_quest_reg {
    display: block;
}

form.personal_data .control_point .error_text_box {
	z-index:1;
}

form.personal_data .control_point .error_text_box:before {
        right: 11px; }

/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- AUTO INFO --------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.change {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
 }

.change:hover {
    background-image: none;
    background-color: #adadad;
	 -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset; }


/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- PERSON INFO ------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.person_info .line .combo {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
}

.person_info .new_insurer {
line-height: 28px;
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset; }

.person_info .new_insurer:hover {
    background-image: none;
      background-color: #70b737;
    -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset; }

.person_info .control_point.radio_control label {
    margin-top: 0px;
	margin-left: 3px;
}

.form_green_button:hover  {
      background-image: none;
      background-color: #70b737;
}

.form_grey_button:hover {
    background-image: none;
    background-color: #adadad;
}

/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- CALCULATOR PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */
.orange_button.clear_all {
  position: absolute;
  top: 2px;
  text-transform: uppercase!important;
  font-size: 12px; 
  margin-right: 0;}

.calculator_content aside .sidebar_title {
      font-family: "robotoregular", 'arialblack', Helvetica, sans-serif;
      font-size: 18px;
      color: black;
      margin-bottom: 20px;
      font-weight: 600;	  } 
  
.before_calc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  display:none;
  border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.before_calc.show {
  display:block;
}

.calc {
  display:none;
}
.calc.show {
  display:block;
}

.calculator_content aside .sub_text {
      margin: 20px 0 0 0; }
.calculator_content aside .sub_text.center {
        text-align: center;
        margin: 3px 0 10px 0; }


.form_now {
  margin: 0 0 0 -5px;
}

.category .category_title .ico {
      margin-right: 12px;
       }
.category .category_title .arrow {
      top: 9px;
      right: 12px;
}

.combo.wide {
  width: 100%;
  border-color: #CFCFCF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
  }

.combo.wide .scroll_box {
    width: 100%;
    height: 420px;
	background-color: #fff;
	}
.combo.wide .scroll_box .viewport {
      height: 415px; }
.combo.wide .scroll_box .track {
      height: 410px!important;
	  }


.combo.wide ul li {
    width: 19%;
	margin-left: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
	}

.combo.wide ul li.active {
      background-image: url(../images/bg.png);
      background-position: 0px -1101px;
      background-repeat: repeat-x;
      background-color: transparent;
      color: #fff; }

.combo.wide .close_scroll {
    bottom: 5px;
    right: 5px;
    }



  .box_line.model {
    padding-right: 95px;
	}

.box_line .combo {
    margin-top:5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
	}

.slider_container .description span {
      font-weight: normal;}

      .slider_container .description span.first {
        text-align: left;
        padding-left: 0px; }
      .slider_container .description span.last {
        text-align: right;
        padding-right: 0px; }


	.volume .description span {
    width: 31%; }
    .volume .description span.first, .volume .description span.last {
      width: 19%; }



	.recomend_box .box_line .description span {
      width: 23%; }
	.recomend_box .box_line .description span.first {
      width: 16%; }
	.recomend_box .box_line .description span.last {
      width: 15%; }


.passengers .description span {
  width: 31%!important; }
.passengers .description span.first {
    width: 20%!important; }
.passengers .description span.last {
    width: 18%!important; }
.passengers .slider_container {
  margin-left: 10px; }
.passengers .points_box .point.one {
  left: 15px!important; }
.passengers .points_box .point.two {
  left: 167px!important; }
.passengers .points_box .point.three {
  left: 320px!important; }
.passengers .points_box .point.four {
  left: 473px!important; }

.passenger_counter .arrow.minus {
      background-position: -361px -481px;
      margin-left: 5px; }

/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- SUCCESS/ERROR PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */	  
  #success_modal .information_box, #error_modal .information_box {
    border: 2px solid #82b23d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-bottom: 25px;
    padding: 40px 20px 20px 20px;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: black; }
    #success_modal .information_box .inform_title, #error_modal .information_box .inform_title {
      font-family: "robotoBlack", 'arialblack', Helvetica, sans-serif;
      font-size: 18px;
      color: black; }	  

form.personal_data .line.adres {
  margin-bottom:20px;
  }
  
	  
.for_adres a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}
.total .orange_button a {
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(56, 39, 9, 0.5);
      font-family: "robotoBlack",'arialblack',Helvetica,sans-serif;
  }
  .auto_info .change a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: Arial,Helvetica,sans-serif;
  }
  .login_link a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
  }
  .login_link a:hover {
      color: #FFFFFF;
  }


::-webkit-input-placeholder {
   font-size: 14px;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
   font-style: italic;
}

:-ms-input-placeholder {
   font-size: 14px;
   font-style: italic;
}

#Go_Top {
   position: fixed;
   bottom: 120px;
   right: 50px;
   cursor:pointer;
   display:none;
   z-index: 3;
   padding: 15px;
   background-color: rgb(113, 184, 56);
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26), 0px 0px 3px rgba(0, 0, 0, 0.47) inset;
   }

/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- FINISH PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */   

.text_content span.success {
    float:left;
    width:85px;
	height:70px;
	position: relative;
	background-image: url(../images/sprite.png);
      background-position: -313px -506px;
      background-color: transparent;
	margin-right:20px;
	margin-top: 6px;}
	
/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- FAQ PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */   	
	
.text_content .boxFaq {
display:block;
margin-bottom: 20px;
margin-left:10px;
}
	  
.text_content .boxFaq p {
	text-align: justify;
	color: #3F3F3F;
    background-color: white;
	border: 2px solid #FFB120;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
    padding:20px;
    margin:20px 35px 40px 25px;
    display: none;
}

.text_content .boxFaq p a{
	font-size: 14px;
	border-bottom: none;
	font-weight:400;
	margin:0;
}

.text_content .boxFaq h2 {
	color: #3F3F3F;
    font-style:normal;
    margin-bottom:0px;
    font-size: 16px;
	font-family: Arial Bold, Helvetica, sans-serif;
	cursor:pointer;
}

.text_content .boxFaq a {
	font-family: Arial Bold, Helvetica, sans-serif;
    font-size: 16px;
    cursor:pointer;
	font-weight: 600;
	color: #ffa600;
	border-bottom: 1px dashed #ffa600;
	margin:0 5px 10px;
	-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	transition:  all 300ms ease;
}

.text_content .boxFaq a:hover {
	border-bottom: 0px dashed #ffa600;
	color:#3F3F3F; 
}

.text_content .boxFaq a.active {
	border-bottom: none;
	color:#3F3F3F;
}

.text_content .boxFaq span.plus {
    float:none;
    width:16px;
	height:15px;
    position: relative;
    top:-1px;
    right:0px;
    display: inline-block;
    vertical-align: middle;
	margin:0;
	background-image: url(../images/sprite.png);
    background-position: -343px -31px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.text_content .boxFaq span.minus {
    float:none;
    width:16px;
	height:15px;
    position: relative;
    top:-1px;
    right:0px;
    display: inline-block;
    vertical-align: middle;
	margin:0;
	background-image: url(../images/sprite.png);
    background-position: -359px -31px;
    background-repeat: no-repeat;
    background-color: transparent;
}

/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- CONTACTS PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */  


.text_content .contact_left {
	margin-left: 0px;
	display: inline-block;
}

.text_content .contact_left .call_center {
	margin-bottom: 25px;
	border-bottom: 1px solid #E3E3E3;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1.0);
    padding-bottom: 30px;
}

.text_content .contact_left .office {
	margin-bottom: 0px;
}

.text_content .contact_left  p {
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	padding-top: 4px;
}

.text_content .contact_left span.ico {
	width:39px;
	height:24px;
	vertical-align: middle;
	background-image: url(../images/sprite.png);
    background-position: -235px -601px;
    background-color: transparent;
	margin-right:10px;
	display: inline-block;
}

.text_content .contact_left span.bold {
	font-weight: bold;
	font-size: 16px;
	background-image: none;
}

.text_content .contact_left h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 14px;
	margin-bottom:20px;
}


.text_content .contact_right {
	float: right;
	display: inline-block;
}
.payment-form {
    display: none;
}