@charset "UTF-8";
/* CSS Document */
#login_modal input[type="password"] {
    padding-left: 55px;
}
form.modal_form .control_point input[type="email"] {
    border: 1px solid #CFCFCF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13) inset;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 41px;
    line-height: 41px;
    padding: 0 10px;
    width: 100%;
}
.login-area {
    display:inline-block;
    float:right;
    height:33px;
    line-height:33px;
    padding:0;
}

  header .personal_office a {
   font-size: 11px;
    color: white;
	text-transform: uppercase;
    font-family: Arial black, Helvetica, sans-serif;
	}

.calculator_box .count_down_container .counter div .tdigit {
    color: #FFFFFF;
    font-family: "roboroBlack",Arial black,Helvetica,sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 18px;
    line-height: 47px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
}
/*.discount {
    display: none;
}*/
.fixed_pop_up {
    display: none;
}
/* CSS Document */
.options {
    display: none;
}
.hidden {
    display:none;
}
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- HEADER -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
header .main_menu div.shadow {
        position: absolute;
        width: 1016px;
        height: 17px;
        left: -8px;
        bottom: -17px;
        background-image: url(../images/menu_shadow.png);
        background-position: top center;
        background-repeat: no-repeat; }

header .main_menu li a {
        height: 45px;
		line-height: 46px;
		font-size: 15px;
		letter-spacing: 0.02em;
		padding: 0 20px 0 22px;
		font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
		font-weight: 400;
		color: #444;
		}
		
header .main_menu li a span.arrow {
          width: 12px;
          height: 12px;
          background-image: url(../images/menuarrow.png);
		  background-position: 0px 0px;
          background-repeat: no-repeat;
          background-color: transparent;
          display: inline-block;
          margin-left: 6px;
          position: relative;
          top: 1px; }

header .main_menu li span.home {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin: 13px 0px 0 0;
        background-image: url(../images/sprite.png);
        background-position: 0px -62px;
        background-repeat: no-repeat;
        background-color: transparent; }

header .main_menu li:hover span.home {
        width: 18px;
        height: 18px;
        display: inline-block;
        
        background-image: url(../images/sprite.png);
        background-position: -138px -464px;
        background-repeat: no-repeat;
        background-color: transparent; }		
		  
header .main_menu li.current > a span.arrow {
          background-position: 0px 0px !important; }

header .main_menu li:hover a {
        background-image: url(../images/bg.png);
        background-position: 0px -100px;
        background-repeat: repeat-x;
        background-color: transparent;
        color: #fff; }
		  
header .main_menu li:hover a span.arrow {
          background-image: url(../images/menuarrow-w.png);
          background-position: 0px 0px; 
		  background-repeat: no-repeat;
          background-color: transparent;}

header .inner_menu {
    bottom: -28px;
	z-index:100;}		  
		  
header .inner_menu li a {
        height: 33px;
        line-height: 33px;
		letter-spacing: 0;
		font-size: 12px;
		font-family: "robotoregular", Arial, Helvetica, sans-serif;
		padding: 0 15px;
}		
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- FOOTER -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
footer {
}

footer .column.second {
      width: 260px;
      padding-left: 40px; }

footer .column.third {
      width: 360px;
	  text-align: right;
	  margin-right: 60px;
	  font-size: 14px;

	  }

footer .column.third .title {
}

footer .column .third_down {
      border-left: 1px solid #cbcbcb;
	  margin-bottom: 35px;
	  margin-top:0;
	  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1.0) inset;
	  }

footer .column .email {
      padding-bottom:5px;
}

footer .column.tel {

}

 footer .column .social_buttons {
      margin-top: 15px;

	  }
 footer .column .social_buttons a {
        width: 50px;
        height: 47px;
        display: inline-block;
        float: right;
        margin-left: 3px; }

        footer .column .social_buttons a.vk {
          background-image: url(../images/sprite.png);
          background-position: -68px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.vk:hover {
            background-position: -18px -62px; }
        footer .column .social_buttons a.fb {
          background-image: url(../images/sprite.png);
          background-position: -168px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.fb:hover {
            background-position: -118px -62px; }
        footer .column .social_buttons a.tw {
          background-image: url(../images/sprite.png);
          background-position: -268px -62px;
          background-repeat: no-repeat;
          background-color: transparent; }
          footer .column .social_buttons a.tw:hover {
            background-position: -218px -62px; }

footer .bottom_part {
    padding-bottom:15px; }

footer .bottom_part .counter_container {
        margin-right: 60px;
		}

/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- INDEX --------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.calculator_box .calculator .calculate {
      line-height: 47px;
	  }

.calculator_box .count_down_container .counter div {
      line-height: 45px;
	  letter-spacing: 17px;
	  }

.calculator_box .calculator .title {
      line-height: 52px;}

 .calculator_box .calculator .calculate span {
	  margin-right: 8px;
	  }
/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- COMBO --------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.combo {
  position: relative;
  width: 329px;
  }


/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- SCROLL -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.scroll_box {
  width: 327px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6); }

/*------------------------------------------------------------------------------------------- */
/*--------------------------------------- ECONOM BOX ---------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.advantages .adv_point {
    padding-left: 85px;
	margin: 0 15px 50px 0;}

.adv_point.rightt /*дубль символа из-за повторного класса*/ {
    margin: 0 0px 50px 15px;
	width: 285px;
	}

.question .question_point.phone {
    width: 300px;
    margin: 0 0px 10px 0;}

.question .question_point.call {
    width: 340px;
    margin: 0 0px 10px 0;
	}

.question .question_point.ask {
    display: inline-block;
    float: left;
    min-height: 65px;
    margin: 0 0px 10px 0;

    position: relative;
    padding-left: 85px; }
.question .question_point.phone .ico {
      background-position: 0 -314px; }
    .question .question_point.phone:hover .ico {
      background-position: -65px -314px; }
    .question .question_point.call .ico {
      background-position: -130px -314px; }
    .question .question_point.call:hover .ico {
      background-position: -195px -314px; }
    .question .question_point.ask .ico {
      background-position: -260px -314px; }
    .question .question_point.ask:hover .ico {
      background-position: -325px -314px; }
    .question .question_point .title {
      font-family: "robotoBlack", Helvetica, sans-serif;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 22px;
      color: #2c2a22; }
      .question .question_point .title span {
        font-weight: 400;
        font-size: 22px;
        color: #2c2a22; }
    .question .question_point .text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: black;
      width: 185px; }


/*------------------------------------------------------------------------------------------- */
/*-----------------------------------  MODAL GENERAL ---------------------------------------- */
/*------------------------------------------------------------------------------------------- */

form.modal_form .control_point input[type="text"], form.modal_form .control_point input[type="password"],
form.modal_form .control_point input[type="email"] {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #cfcfcf;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset; }

 form.modal_form .control_point .error_text:before {
        content: "";
        border-bottom: 8px solid #e73636;
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: -8px;
        right: 11px; }
  
form.personal_data .control_point .error_text_box_quest, .fos_user_registration_register .control_point .error_text_box_quest{
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -khtml-border-radius: 3px;
      padding: 0 4px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: white;
      position: absolute;
      top: 30px;
      left: -4px;
      background-color: #e73636;
      z-index: 3;
      display: none; }
      form.personal_data .control_point .error_text_box_quest:before, .fos_user_registration_register .control_point .error_text_box_quest:before {
        content: "";
        border-bottom: 8px solid #e73636;
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: -8px;
        left: 5px; }
		
/*------------------------------------------------------------------------------------------- */
/*------------------------------------- PASS MODAL ------------------------------------------ */
/*------------------------------------------------------------------------------------------- */

  #pass_modal .sub_text {
    width: 435px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 auto 15px;
    text-align: justify;
    font-size: 14px;
    color: black; }


/*------------------------------------------------------------------------------------------- */
/*------------------------------------- PRELOADER ------------------------------------------- */
/*------------------------------------------------------------------------------------------- */	
		
.modal_preloader {
	float: right;
    display: inline-block;
	margin-right:10px;
    display:none;
    position: relative;
	margin-top:8px;
	}
.modal_preloader.on {
    display:block;
}	
		
/*------------------------------------------------------------------------------------------- */
/*---------------------------------------- TOTAL -------------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.total .green_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: white;
    line-height: 58px;
    padding: 0 20px;
    background-color: #449C19;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    display: inline-block;
    float: left;
	margin: -1px 15px 0px 0px;
    /*margin-right: 15px;*/
     }

.orange_button {
  line-height: 29px;
  text-shadow: 1px 1px 1px rgba(56, 39, 9, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  }

.orange_button:hover {
  background-image: none;
  background-color: #ffbc01;
  text-shadow: 1px 1px 0 rgba(56, 39, 9, 0.5);
  -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.question_ico:hover .pop_up_total {
    display: block; }

.pop_up_total {
  position: absolute;
  z-index: 3;
  left: 26px;
  top: -9px;
  width: 240px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 10px;
  background-color: #f4fae6;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 15px;
  font-weight: 500;
  display: none; }

  .pop_up_total:before {
    content: "";
    position: absolute;
    top: 8px;
    left: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #cccccc;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }

  .pop_up_total:after {
    content: "";
    position: absolute;
    top: 8px;
    left: -9px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #f4fae6;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }


.fixed_pop_up {
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  left: 680px;
    width: 318px;
  background-color: #fceacc;
  }

.fixed_pop_up:before {
    content: "";
    position: absolute;
    left: -10px;
top:50%;
margin-top: -10px;
  }
  .fixed_pop_up:after {
    content: "";
    position: absolute;
    left: -9px;
top:50%;
margin-top: -10px;
 }

/*------------------------------------------------------------------------------------------- */
/*---------------------------------------- POLIS DATE --------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.polis_date .label {
  height: 40px;
  line-height: 40px; }
.polis_date .date {
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 245px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border: 1px solid #cfcfcf;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13) inset; }

 .polis_date:hover .pop_up_date {
    display: block; }

.pop_up_date {
  position: absolute;
  z-index: 3;
  left: 550px;
  top: 180px;
  width: 405px;
  height: 68px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 10px;
  background-color: #f4fae6;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 15px;
  font-weight: 500;
  display: none; }

  .pop_up_date:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
	margin-top: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #cccccc;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }

  .pop_up_date:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
	margin-top: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #f4fae6;
    border-bottom: 10px solid rgba(0, 0, 0, 0); }
/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- PERSONAL_INFO FORM --------------------------------- */
/*------------------------------------------------------------------------------------------- */
form.personal_data .line {
    margin-bottom: 40px;
    }

form.personal_data .control_point {
    display: inline-block;
    margin-left: 10px;
	margin-top: 3px;
    margin-bottom: 0px;
}

form.personal_data .control_point input:focus {
      -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.41); }
 
 form.modal_form .control_point.error input {
    border-color: #e73636;
  }
  form.modal_form .control_point.success input {
    border-color: #79a837;
  }
  
 form.modal_form .control_point.error .error_text_box_quest, form.modal_form .control_point.error .error_text_box {
    display: block;
}

form.personal_data .control_point .error_text_box:before {
        content: "";
        border-bottom: 8px solid #e73636;
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: -8px;
        right: 11px; }

/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- AUTO INFO --------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.change {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0, 0, 0, 0.47) inset;
 }

.change:hover {
    background-image: none;
    background-color: #adadad;
	 -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset; }


/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- PERSON INFO ------------------------------------- */
/*------------------------------------------------------------------------------------------- */
.person_info .line .combo {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
}

.person_info .new_insurer {
line-height: 28px;
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.47) inset; }

.person_info .new_insurer:hover {
    background-image: none;
      background-color: #70b737;
    -moz-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.5) inset; }

.person_info .control_point.radio_control label {
    margin-top: 0px;
	margin-left: 3px;
}

.form_green_button:hover  {
      background-image: none;
      background-color: #70b737;
}

.form_grey_button:hover {
    background-image: none;
    background-color: #adadad;
}

/*------------------------------------------------------------------------------------------- */
/*----------------------------------------- CALCULATOR PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */
.orange_button.clear_all {
  position: absolute;
  top: 2px;
  text-transform: uppercase!important;
  font-size: 12px; }

.calculator_content aside .sidebar_title {
      font-family: "robotoregular", Arial black, Helvetica, sans-serif;
      font-size: 18px;
      color: black;
      margin-bottom: 20px;
      font-weight: 600;	  } 
  
.before_calc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  display:none;
  border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.before_calc.show {
  display:block;
}

.calc {
  display:none;
}
.calc.show {
  display:block;
}

.calculator_content aside .sub_text {
      margin: 20px 0 0 0; }
.calculator_content aside .sub_text.center {
        text-align: center;
        margin: 3px 0 10px 0; }


.form_now {
  margin: 0 0 0 -5px;
}

.category .category_title .ico {
      margin-right: 12px;
       }
.category .category_title .arrow {
      top: 9px;
      right: 12px;
}

.combo.wide {
  width: 100%;
  border-color: #CFCFCF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
  }

.combo.wide .scroll_box {
    width: 100%;
    height: 420px;
	background-color: #fff;
	}
.combo.wide .scroll_box .viewport {
      height: 415px; }
.combo.wide .scroll_box .track {
      height: 410px!important;
	  }


.combo.wide ul li {
    width: 19%;
	margin-left: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
	}

.combo.wide ul li.active {
      background-image: url(../images/bg.png);
      background-position: 0px -1101px;
      background-repeat: repeat-x;
      background-color: transparent;
      color: #fff; }

.combo.wide .close_scroll {
    bottom: 5px;
    right: 5px;
    }



  .box_line.model {
    padding-right: 95px;
	}

.box_line .combo {
    margin-top:5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.125) inset;
	}

.slider_container .description span {
      font-weight: normal;}

      .slider_container .description span.first {
        text-align: left;
        padding-left: 0px; }
      .slider_container .description span.last {
        text-align: right;
        padding-right: 0px; }


	.volume .description span {
    width: 31%; }
    .volume .description span.first, .volume .description span.last {
      width: 19%; }



	.recomend_box .box_line .description span {
      width: 23%; }
	.recomend_box .box_line .description span.first {
      width: 16%; }
	.recomend_box .box_line .description span.last {
      width: 15%; }


.passengers .description span {
  width: 31%!important; }
.passengers .description span.first {
    width: 20%!important; }
.passengers .description span.last {
    width: 18%!important; }
.passengers .slider_container {
  margin-left: 10px; }
.passengers .points_box .point.one {
  left: 15px!important; }
.passengers .points_box .point.two {
  left: 167px!important; }
.passengers .points_box .point.three {
  left: 320px!important; }
.passengers .points_box .point.four {
  left: 473px!important; }

.passenger_counter .arrow.minus {
      background-position: -361px -481px;
      margin-left: 5px; }

/*------------------------------------------------------------------------------------------- */
/*-------------------------------------- SUCCESS/ERROR PAGE --------------------------------- */
/*------------------------------------------------------------------------------------------- */	  
  #success_modal .information_box, #error_modal .information_box {
    border: 2px solid #82b23d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-bottom: 25px;
    padding: 40px 20px 20px 20px;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: black; }
    #success_modal .information_box .inform_title, #error_modal .information_box .inform_title {
      font-family: "robotoBlack", Arial black, Helvetica, sans-serif;
      font-size: 18px;
      color: black; }	  
	  
.for_adres a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}
.total .orange_button a {
      color: #FFFFFF;
      font-size: 14px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(56, 39, 9, 0.5);
      font-family: "robotoBlack",Arial black,Helvetica,sans-serif;
  }
  .auto_info .change a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: Arial,Helvetica,sans-serif;
  }
  .login_link a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
  }
  .login_link a:hover {
      color: #FFFFFF;
  }


::-webkit-input-placeholder {
   font-size: 14px;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
   font-style: italic;
}

:-ms-input-placeholder {
   font-size: 14px;
   font-style: italic;
}

#Go_Top {
   position: fixed;
   bottom: 120px;
   right: 50px;
   cursor:pointer;
   display:none;
   z-index: 3;
   padding: 15px;
   background-color: rgb(113, 184, 56);
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26), 0px 0px 3px rgba(0, 0, 0, 0.47) inset;
   }


